@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #252944;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #221f2f;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 65%;
    top: 20%;
    background-color: #7752FE;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 42%;
    background-color: #C2D9FF;
    filter: blur(90px);
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .toggler{
    font-size: 2rem;
    color: c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 1px solid #ccc;
    border-radius: 8px ;
}

.navbar .logo{
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #8E8FFA;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}