@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #221f2f;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 65%;
    top: 20%;
    background-color: #7752FE;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 60%;
    top: 32%;
    background-color: #C2D9FF;
    filter: blur(90px);
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .toggler{
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 1px solid #ccc;
    border-radius: 8px ;
}

.navbar .logo{
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #8E8FFA;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}
.main .top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.top-container .info-box{
    max-width: 50%;
    animation: toRight 0.8s;
}
.top-container .header{
    margin: 0;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 55p;
}

.top-container .info-text{
    margin: 20px 0 32px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    transition: ease-out 0.7s;
}

.top-container .info-btn:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 56px -5px rgba(142, 143, 250, 1);
    -moz-box-shadow: 0px 0px 56px -5px rgba(142, 143, 250, 1);
    box-shadow: 0px 0px 56px -5px rgba(142, 143, 250, 1);
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.top-container .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    transition: ease-out 0.7s;
}

.top-container .info-btn.selected:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 56px -5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 56px -5px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 56px -5px rgba(255, 255, 255, 1);
}

.top-container .nft-box{
    padding: 16px;
    border: 1px solid #ccc;
    background: linear-gradient(170deg, rgba(53, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.88) 98%);
    border-radius: 2rem;
    box-shadow: -1px 1px 99px 13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 99px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 99px 13px rgba(0,0,0,0.75);
    animation: toLeft 0.8s;
    margin-bottom: 50px;
}

.top-container .nft-box:hover{
    transform: rotateY( 360deg );
    transition: transform 3.0s;
}


.top-container .nft-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
}

.top-container .nft-box .nft-content .info{
    padding: 8px 8px;
}

.top-container .nft-box .nft-content .info h3{
    color: #fff;
}

.top-container .nft-box .nft-content .info p{
    color: white;    
}

.top-container .nft-box .nft-content .info .nft-collection{
    font-size: 15px;
    display: flex;
}

.top-container .nft-box .nft-content .info .nft-collection p{
    color: #1ba3ed;
}

.top-container .nft-box .nft-content .info .nft-collection img{
    width: 50%;
    max-width: 32px;
}

.container-info{
    padding: 90px 40px 40px 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-info::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    left: 2%;
    top: 56%;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    filter: blur(140px);
}


.container-info .container-title{
    font-size: 2.5rem;
    font-weight: 780;
    line-height: 55px;
    padding: 18px;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-info .container-description{
    color: #ccc;
}

.box-main{
    width: 100%;
    background: #221f2f;
    border-radius: 16px;
    padding-bottom: 40px;
}

.box-main .box-container{
    padding: 80px 80px 50px 80px;
}

.box-main .box-container .box-content .box-sec1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box-main .box-container .box-content .box-sec1 .card-box .title-content{
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-wrap: wrap;
    font-weight: 680;
}

.box-main .box-container .box-content .box-sec1 .card-box .desc-content{
    padding-left: 18px; 
    width: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    color: #fff;
    text-align: center;
}

.box-main .box-container .box-content .box-sec1 .card-box .desc-content .crypto-txt{
    width: 70%;
    margin-left: 0px;
}

.box-main .box-container .box-content .box-sec1 .card-box .desc-content .nft-txt{
    width: 70%;
    text-align: center;
}

.box-main .box-container .box-content .box-sec1 .card-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-main .box-container .box-content .box-sec1 .card-box .title-content{
display: flex;
justify-content: center;
font-weight: 680;
}

.box-main .box-container .box-content .box-sec1 .card-box .desc-content .nft-txt{
display: flex;
justify-content: center;
text-align: center;
}

.box-main .box-container .box-content .main-item-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-main .box-container .box-content .container-items{ 
    padding-top: 70px;
    width: auto;
    max-width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: block;
}

.box-main .box-container .box-content .container-items i{ 
    font-size: 40px;
    max-width: 50px;
    border-radius: 70%;
    padding: 5px;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    margin-left: 50px;
}

.box-main .box-container .box-content .container-items p{
    padding-top: 7px;
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px -1px 16px rgba(0,0,0,0.6);
    text-align: center;
}

.main .footer{
    margin: 70px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .copyright{
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
}

.main .footer .footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links .link p{
    background: linear-gradient(95deg, #7752FE 3.2%, #8E8FFA 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px -1px 16px rgba(0,0,0,0.6);
}

@media screen and (max-width: 1040px){
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .box-main .box-container .box-content .box-sec1 .card-box .desc-content{
        padding-left: 0;
    }

    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 984px){
    .box-main .box-container .box-content .box-sec1{
        flex-direction: column;
    }


@media screen and (max-width: 925px){
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .box-main .box-container .box-content{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 733px){
    .container-info .container-title{
        text-align: center;
    }

    .container-info .container-description{
        text-align: center;
    }

    .container-info .box-main .box-container{
        padding: 10px;
    }
    
    .container-info .box-main .box-container .box-content .box-sec1 .card-box .title-content{
        text-align: center;
    }
    .container-info .box-main .box-container .box-content .box-sec1 .card-box .desc-content .crypto-txt{
        width: auto;
    }
    .container-info .box-main .box-container .box-content .box-sec1 .card-box .desc-content .nft-txt{
        width: auto;
    }
}

@media screen and (max-width: 717px){
    .box-main .box-container .box-content .container-items{
        display: none;
    }
  }
}